#one{
    border-style: dashed;
 border-color: blueviolet;
 border-width: 5px;
 text-align: center;
 color: chartreuse;
 bor
 

}
#two
{
 border-style: dotted;
 text-align: center;
 border-color: red ;
 border-width: thick; 
 color: orange ;

}
