body{
background:wheat;

}

ul{

display:flex;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
list-style-type: none;

}

a{

text-decoration: none;
}


li{
padding: 10px;
background-color: #fff;
cursor: pointer;
width: 50vh;
text-decoration: none;

}
li:hover{
background-color:salmon;
}
li::selection{

color: aqua;


}

