p{background-color:yellow;
	 color:green;
	 font-style:bold;
	 text-align:center;
	 
}
h1,h2{
border:3px solid green;
background-color:grey;
	 color:red;
	 font-style:bold;
	 text-align:center;
	 
}
   }