#one{

background-color: darkmagenta;

color: green;

display: flex;
width: 40%;
align-items: center;
height: 200px;
justify-content: center;
transition-property:background-color;
transition-duration: 2s;
transition-delay: 1s;
}
#one:hover{

 background-color:gold;


}
#li{

    transition-property:background-color ;
  transition-duration: 2s;
}
